%form.form-horizontal#dynamic-tracer
  .control-group
    %label.control-label{'for' => 'select-env'} Select Environment
    .controls
      %input{'type' => 'text', 'id' => 'environment', 'placeholder' => 'Select Environment', 'name' => 'environment', 'value' => @ws_config.host}
  .control-group
    %label.control-label{'for' => 'select-service'} Select Service
    .controls
      %select{'id' => 'service', 'name' => 'service'}
        - @ws_config.services.each do |service|
          %option{'value' => service[:name], 'data-port' => service[:port]}= service[:name]
  .control-group
    %label.control-label{'for' => 'select-op'} Select Op
    .controls
      %select{'id' => 'op', 'name' => 'op'}
        - @ws_config.ops.each do |op|
          %option= op
  .control-group
    %label.control-label{'for' => 'enter-expression'} Expression to evaluate
    .controls
      %input{'type' => 'text', 'id' => 'expression', 'name' => 'expression', 'placeholder' => 'Enter Expression'}
  .control-group
    .controls
      %button.btn{'type' => 'submit'} Generate URL

.row
  .span12
    .span10
      %pre#generated-url
    .span2
      %button.btn.btn-success.disabled#fetch-trace Get Data

%p

.row
  .span12
    %legend
      #xyz
      %pre#response
        Response comes here
